@{
    ViewBag.Title = "About Us";
}
<br />
<br />
<br />
<div class="row text-center" style="background-color: white; opacity: 85%; color: black; width: 100%;height:200%">


    <h1>About Us</h1>
    <hr />

    <div>
        <h4>
            Diabetes is one of the most common chronic diseases in the world. And often
            people with diabetes do not know how to manage their diabetes or don’t have
            access to information about diabetes, and often end up with the fatal
            complications that result from diabetes including kidney damage, eyesight
            damage, loss of limb, heart attacks, and strokes. Statistics show that about
            950 people get type 1 diabetes every year in Australia, and about 23 people
            die due to diabetes per year in Australia. Therefore, it is essential for people
            with diabetes to have access to Diets provided by professionals or make
            appointments with them to understand their current state of diabetes so that
            they can get better health tips from the doctors and get healthy diet plans for
            their meals, to keep their blood sugar level in control. The aim of Diabetes
            Health Pro is to provide users with diet plans created by professionals
            and help them make connect with the doctors through appointments, record their current sugar level and see some interesting stats about the web application itself.
        </h4>
    </div>

</div>