@{
    ViewBag.Title = "Contact Us";
}

<div class="row text-center" style="background-color: white; opacity: 85%; color: black; width: 100%;height:200%">
    <h2>@ViewBag.Title</h2>


    <address>
        Wellington Rd, Clayton VIC 3800<br />
        <abbr title="Phone">P:</abbr>
        0450325362
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:enquiry@diabeteshealthpro.com">enquiry@diabeteshealthpro.com</a><br />

    </address>
    </div>