<!DOCTYPE html>
<html>


<body>
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row" width: auto >
            <div class="col-md-1">

            </div>

            <div class=" col-md-10">

                <br />
                @*<p style=" font-size: medium; text-align: center;">

                        <br />
                        <br />

                    </p>*@
                <br />
                <div class="row text-center" style="background-color: white; opacity: 85%; color: black; width: auto ">

                    <h1 style="font-weight: bolder;  text-align:center">
                        Being proactive every day, keeps diabetes at bay!
                    </h1>
                    @*<button id="sugarLevel" type="button" class="btn btn-danger" style="background-color: dodgerblue;
                        border-color: dodgerblue; width: 150px ">
                            Go!
                        </button>*@
                </div>
                <br />
            </div>

            <div class="col-md-1">

            </div>

        </div>
    </div>

    






</body>
</html>
