<!DOCTYPE html>
<html>

<head>
    </head>

<body>
    

    <div class="container">
       
        <div class="col-md-12">
            <div class="row" style="background-color: white; opacity: 87%; color: black; width: auto ">
                <h1 style="font-weight:bolder; text-align:center">Email Sent Successfully!</h1>

                <div>
                    @Html.ActionLink("Send another newsletter", "Create")
                </div>

                <div>
                    @Html.ActionLink("Go back to home page", "Home", "Home")
                </div>
            </div>
            </div>
       
    </div>
</body>
</html>